#nextgen_pro_upgrade_page {
    width: 100%;
    text-align: center;
}

#nextgen_pro_upgrade_page h1 {
    font-size: 2.5em;
    line-height: 1.01em;
    margin-bottom: 40px;
    text-align: center;
    padding: 20px 0 0px 0;
}

#nextgen_pro_upgrade_page hr {
    width: 25%;
}

#nextgen_pro_upgrade_page h2 {
    color: #afafaf;
    line-height: 1.2em;
    width: 65%;
    margin: 0 auto;
    margin-top: 2em;
    margin-bottom: 2em;
}

#nextgen_pro_upgrade_page a {
    font-size: 1.2em;
    height: 2.8em;
    line-height: 1.6em;
    padding: .5em 1em .5em 1em;
    min-width: 300px;
}

#nextgen_pro_upgrade_first_link {
    margin-right: .5em;
}

@media only screen and (max-width: 655px) {
    #nextgen_pro_upgrade_first_link {
        margin-right: 0;
        margin-bottom: 1em;
    }
}
