.menuPanel {
    position : absolute;
    top : 10px;
    right: 10px;
    height: 32px;
    width: 32px;
}

.dropDownMenu {
    background-color: rgba(240, 240, 240, 0.9);
    border: 1px solid lightgray;
    /*border-radius: 15px;*/
    /*position: absolute;*/

    -webkit-box-shadow: 3px 3px 5px 0 rgba(50, 50, 50, 0.75); /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    3px 3px 5px 0 rgba(50, 50, 50, 0.75); /* Firefox 3.5 - 3.6 */
    box-shadow:         3px 3px 5px 0 rgba(50, 50, 50, 0.75); /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */

    margin-top: 5px;
}

@sprite .settings {
    gwt-image:'settingsNormal';
    outline: none;
    background-repeat:no-repeat;
    border: 0;
    cursor: pointer;
    position: absolute;
}

@sprite .settings:hover {
    gwt-image:'settingsHovered';
}

@sprite .settings:active:hover {
    gwt-image: 'settingsClicked';
}