<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <!-- Default page to serve -->
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <!-- RESTFul WS PROXY Configuration (ONLY USED IN DEV MODE) -->
    <servlet>
        <servlet-name>ReactomeAnalysis</servlet-name>
        <servlet-class>uk.ac.ebi.pride.web.util.servlet.proxy.ProxyServlet</servlet-class>
        <init-param>
            <param-name>proxyHost</param-name>
            <param-value>localhost</param-value>
            <!--<param-value>reactomedev.oicr.on.ca</param-value>-->
        </init-param>
        <init-param>
            <param-name>proxyPort</param-name>
            <param-value>8080</param-value>
            <!--<param-value>7080</param-value>-->
        </init-param>
        <init-param>
            <param-name>proxyPath</param-name>
            <param-value>/</param-value>
            <!--<param-value>/AnalysisService</param-value>-->
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReactomeAnalysis</servlet-name>
        <url-pattern>/AnalysisService/*</url-pattern>
    </servlet-mapping>

    <!-- static files local server (ONLY USED IN DEV MODE) -->
    <servlet>
        <servlet-name>FireworksProxy</servlet-name>
        <servlet-class>uk.ac.ebi.pride.web.util.servlet.proxy.StaticFilesProxyServlet</servlet-class>
        <init-param>
            <param-name>proxyFilePath</param-name>
            <param-value>/Users/amundo/fireworks/static</param-value>
            <!--<param-value>/Users/amundo/fireworks/test</param-value>-->
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>FireworksProxy</servlet-name>
        <url-pattern>/download/current/fireworks/*</url-pattern>
    </servlet-mapping>

</web-app>
