.controlPanel{
    top: 10px;
    left: 10px;

    width: 85px;
    height: 50px;
}

@sprite .down {
    gwt-image:'downNormal';
    outline: none;
    background-repeat:no-repeat;
    border: 0;
    cursor: pointer;
    position: absolute;
    left: 33px;
    top: 34px;
}

@sprite .down:hover {
    gwt-image:'downHovered';
}

@sprite .down:active:hover {
    gwt-image: 'downClicked';
}

@sprite .fitall {
    gwt-image:'fitallNormal';
    outline: none;
    background-repeat:no-repeat;
    border: 0;
    cursor: pointer;
    position: absolute;
    left: 33px;
    top: 17px;
}

@sprite .fitall:hover {
    gwt-image:'fitallHovered';
}

@sprite .fitall:active:hover {
    gwt-image: 'fitallClicked';
}

@sprite .left {
    gwt-image:'leftNormal';
    outline: none;
    background-repeat:no-repeat;
    border: 0;
    cursor: pointer;
    position: absolute;
    left: 16px;
    top: 17px;
}

@sprite .left:hover {
    gwt-image:'leftHovered';
}

@sprite .left:active:hover {
    /*margin: 3px 7px;*/
    gwt-image: 'leftClicked';
}

@sprite .right {
    gwt-image:'rightNormal';
    outline: none;
    background-repeat:no-repeat;
    border: 0;
    cursor: pointer;
    position: absolute;
    left: 50px;
    top: 17px;
}

@sprite .right:hover {
    gwt-image:'rightHovered';
}

@sprite .right:active:hover {
    gwt-image: 'rightClicked';
}

@sprite .up {
    gwt-image:'upNormal';
    outline: none;
    background-repeat:no-repeat;
    border: 0;
    cursor: pointer;
    position: absolute;
    left: 33px;
    top: 0;
}

@sprite .up:hover {
    gwt-image:'upHovered';
}

@sprite .up:active:hover {
    gwt-image: 'upClicked';
}



@sprite .open {
    gwt-image:'openNormal';
    outline: none;
    background-repeat:no-repeat;
    border: 0;
    cursor: pointer;
    position: absolute;
    left: 68px;
    top: 34px;
}

@sprite .open:hover {
    gwt-image:'openHovered';
}

@sprite .open:disabled, .open:disabled:hover, .open:disabled:active {
    gwt-image:'openDisabled';
    cursor: auto;
}

@sprite .open:enabled:active:hover {
    gwt-image: 'openClicked';
}

@sprite .zoomIn {
    gwt-image:'zoomInNormal';
    outline: none;
    background-repeat:no-repeat;
    border: 0;
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;
}

@sprite .zoomIn:hover {
    gwt-image:'zoomInHovered';
}

@sprite .zoomIn:active:hover {
    gwt-image: 'zoomInClicked';
}

@sprite .zoomOut {
    gwt-image:'zoomOutNormal';
    outline: none;
    background-repeat:no-repeat;
    border: 0;
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 34px;
}

@sprite .zoomOut:hover {
    gwt-image:'zoomOutHovered';
}

@sprite .zoomOut:active:hover {
    gwt-image: 'zoomOutClicked';
}